@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <center>
            <h1>BandEngine</h1>
            <h4>Welcome Artist!</h4>
            <h5>Come see what BandEngine could do for your career</h5>
        </center>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Recommended Tasks</h2>
        <p>
            BandEngine will help you on your career by giving you recommended tasks that you can accomplish every day.
        </p>
    </div>
    <div class="col-md-4">
        <center>
            <h2>Come Join Us!</h2>
        </center>
    </div>
    <div class="col-md-4">
        <h2>Contact Relation Tracking</h2>
        <p>BandEngine will help you manage your contacts and give you suggestions on the type of professionals you should meet.</p>
    </div>
</div>